*~
*.o
*.lo
*.la
*.exe
.deps
.libs
/aclocal.m4
/autom4te.cache
/build
/config.h
/config.h.in
/config.log
/config.status
/config.urp
/configure
/libtool
/m4/*.m4
/stamp-h1
/tests/config.urp
/tests/out
/urweb-curl.pc
Makefile
Makefile.in
